// rem($target)
// Convertit une taille donnée en pixels en rem en se basant sur la valeur de `$default-font-size`.
$default-font-size: 16px;
@function rem($target) {
	@if $target == 0 { @return 0 }
	@return 1rem * $target / $default-font-size;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	font: 1em/1.5 'Montserrat', 'Futura', sans-serif;
	background-color: #282220;
}

a {
	color: inherit;
	text-underline-offset: rem(2px);
}

kbd {
	font-family: monospace;
	border: rem(1px) solid;
	border-radius: rem(4px);
	padding: rem(2px) rem(4px);
}

.page {
	max-width: rem(600px);
	margin: auto;
}

.header,
.footer {
	padding: rem(32px);
	text-align: center;
}

.title {
	text-transform: uppercase;
	font-weight: 900;
	font-size: rem(32px);
}

.subtitle {
	text-transform: uppercase;
	font-weight: bold;
}

.rules {
	margin-top: rem(32px);
	color: rgba(255,255,255,0.6);
}

.game {
	display: flex;
	flex-wrap: wrap;
	gap: rem(16px);
	max-width: rem(544px);
	margin: auto;
	justify-content: center;

	@media (max-width: rem(600px)) {
		max-width: rem(320px);
	}
}

.icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(96px);
	height: rem(96px);
	font-size: rem(64px);
	border: rem(2px) solid #3d3836;
	background-color: #2f2927;
	border-radius: rem(8px);
	outline: none;
	color: #fff;
	text-decoration: none;
	pointer-events: none;

	&:focus,
	&:first-child:focus {
		border-color: #75bfff;
		background-color: #666;
	}

	&:last-child:focus {
		border-color: #ff7575;
	}

	&[formaction]:focus {
		border-color: #71d981;
	}

	&:not(:is(button, a)) {
		background-color: transparent;
		border-color: transparent;
	}
}

.badge {
	position: absolute;
	bottom: rem(-8px);
	padding: 0 rem(8px);
	font-size: rem(12px);
	font-weight: bold;
	line-height: rem(16px);
	text-transform: uppercase;
	border-radius: rem(10px);
	color: #fff;
	background-color: #3d3836;

	:focus & {
		color: #282220;
		background-color: #75bfff;
	}

	[formaction] & {
		color: #282220;
		background-color: #71d981;
	}
}

.scoreboard {
	font-size: rem(16px);
	text-align: center;
}

.level {
	text-transform: uppercase;
	font-weight: bold;
}

.timer {
	font-variant-numeric: tabular-nums;
}

.instructions {
	width: fit-content;
	margin: rem(32px) auto 0;
	color: rgba(255,255,255,0.6);

	p:not(:last-child) {
		margin-bottom: rem(4px);
	}
}