<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hocus :focus — {{ page.title }}</title>
	<meta name="description" content="A keyboard navigation horror game. Find the 🎃 pumpkin.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22%3E%3Ctext y=%22.9em%22 font-size=%2280%22%3E🎃%3C/text%3E%3C/svg%3E">
	<link rel="stylesheet" type="text/css" href="/assets/css/hocus.css?v={{ site.time | date: "%s" | url_encode }}">
	<meta property="og:title" content="Hocus :focus">
	<meta property="og:description" content="A keyboard navigation horror game. Find the 🎃 pumpkin.">
	<meta property="og:image" content="https://focus.hteumeuleu.com/assets/images/og.png">
</head>
<body>
	<div class="page">
		<header class="header" role="banner">
			<h1 class="title"><a href="/">HOCUS :FOCUS</a></h1>
			<p class="subtitle">
				A keyboard accessibility horror&nbsp;game.
			</p>
		</header>
		<main class="main" role="main">
			{{ content }}
		</main>
		<footer class="footer" role="contentinfo">
			<p>A monstrosity  made by <a href="https://twitter.com/HTeuMeuLeu">@HTeuMeuLeu</a>.</p>
			<p><a href="https://github.com/hteumeuleu/hocus-focus">View code on GitHub</a></p>
		</footer>
	</div>
	{% if page.url != "/end/" and page.url != "/404.html" %}
	<script src="/assets/js/hocus.js?v={{ site.time | date: "%s" | url_encode }}" defer></script>
	<noscript><style>.timer{display:none;}</style></noscript>
	{% endif %}
</body>
</html>