<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HOCUS :FOCUS — {{ page.title }}</title>
	<meta name="description" content="A keyboard navigation horror game. Find the 🎃. Avoid the 💀.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎃</text></svg>">
	{% capture styles %}
	{%- include styles.scss -%}
	{%- endcapture -%}
	<style>
	{{ styles | scssify }}
	</style>
</head>
<body>
	<div class="page">
		<header class="header" role="banner">
			<h1 class="title"><a href="/">HOCUS :FOCUS</a></h1>
			<p class="subtitle">
				A keyboard accessibility horror&nbsp;game.
			</p>
		</header>
		<main role="main">
			{{ content }}
		</main>
		<footer class="footer" role="contentinfo">
			<p>A monstrosity  made by <a href="https://twitter.com/HTeuMeuLeu">@HTeuMeuLeu</a>.</p>
			<p>Code available on <a href="https://github.com/hteumeuleu/hocus-focus">GitHub</a>.</p>
		</footer>
	</div>
	{% capture js %}
	{%- include script.js -%}
	{%- endcapture -%}
	<script defer>
		{{ js }}
	</script>
	<noscript><style>.timer{display:none;}</style></noscript>
</body>
</html>